<nav class="navbar">
  <div class="container-fluid">
      <div style="display: flex; align-items: center;margin-left: 40%;">
        <img width="48" height="48" src="https://img.icons8.com/color/48/school-building.png" alt="school-building"/>
          <a class="navbar-brand" href="/" style="margin-top: 7px;">Result Management System</a>
      </div>
  </div>
</nav>